@import "./variablesAndMixins";

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	font-family: $bodyFont;
	background-color: $secondaryColor;
}

img {
	width: 100%;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	padding: 0;
}

.skip-link {
	position: absolute;
	left: -1000px;
	top: 0;
	z-index: 999;
	background: $secondaryColor;
	color: $black;
	text-decoration: none;
	padding: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.skip-link:focus {
	left: 0;
}

.wrapper {
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;

	@include tablet {
		width: 70%;
	}

	@include desktop {
		width: 90%;
	}
}

.spinner {
	position: absolute;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
