$headingFont: 'Domine', serif;
$bodyFont: 'Roboto', sans-serif;
$primaryColor: #78cad2;
$secondaryColor:#CAF5EF;
$accent: #FF8C00;
$black: #0e1116;
$white: #FFFFF0;

@mixin tablet {
    @media (min-width: 768px) { @content; }
}

@mixin desktop {
    @media (min-width: 1024px) { @content; }
}

@mixin bigDesktop {
    @media (min-width: 1280) { @content; }
}
  
// @mixin for-tablet-portrait-up {
//     @media (min-width: 600px) { @content; }
// }
  
// @mixin for-tablet-landscape-up {
//     @media (min-width: 900px) { @content; }
// }
  
// @mixin for-desktop-up {
//     @media (min-width: 1200px) { @content; }
// }
  
// @mixin for-big-desktop-up {
//     @media (min-width: 1800px) { @content; }
// }
