$headingFont: 'Domine', serif;
$bodyFont: 'Roboto', sans-serif;
$primaryColor: #78cad2;
$secondaryColor:#CAF5EF;
$accent: #FF8C00;
$black: #101113ef;
$white: #FFFFF0;

@mixin tablet {
    @media (min-width: 768px) { @content; }
}

@mixin desktop {
    @media (min-width: 1024px) { @content; }
}

@mixin bigDesktop {
    @media (min-width: 1280) { @content; }
}