header, 
h3 {
  text-align: center;
}

li {
  border: 1px solid salmon;
  list-style: none;
  display: flex;
}

li div {
  width: 50%;
  border: 1px solid tomato;
}

h2, h3 {
  margin: 0;
}

form label {
  display: block;
}
.formSubmit {
  /* display: block; */
}